/* Import Bulma to set variables */
@import "../node_modules/bulma/sass/utilities/_all";

/* import inter-regular */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('assets/fonts/Inter-Regular.woff2') format('woff2'),
}

/* import inter-600 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('assets/fonts/Inter-Bold.woff2') format('woff2'),
}

$body-family: "Inter", "Helvetica Neue", sans-serif;
$body-size: 15px;
$background: $white-bis;
$body-background-color: $white-bis;
$primary: #0055d4;
$green: #36995b;
$turquoise: $green;
$red: #FF5722;

$link: $primary;
$input-placeholder-color: $grey-light;
$grey-lightest: #eaeaea;

$colors: map-merge($colors, (
    "turquoise": ($green, $green-invert),
    "green": ($green, $green-invert),
    "success": ($green, $green-invert),
    "danger": ($red, $green-invert),
));

$sidebar-box-shadow: none;
$sidebar-width: 240px;
$menu-item-active-background-color: $white-bis;
$menu-item-active-color: $primary;


/* Buefy */
$modal-background-background-color: rgba(0, 0, 0, .30);

.line-chart {
  min-height: 300px;
}

/* Import full Bulma and Buefy */
@import "bulma";
@import "buefy/src/scss/buefy";

/* Custom style overrides */
html, body {
  height: 100%;
}

code {
  color: $grey;
}

pre {
  background: none;
  border: 1px solid $grey-lightest;
}

ul.no {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.relative {
  position: relative;
}

.content pre {
  white-space: pre-wrap;
}

section {
  &.wrap {
    max-width: 1100px;
  }

  &.section-mini {
    max-width: 500px;
  }
}

.spinner.is-tiny {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;

  .loading-overlay {
    .loading-background {
      background: none;
    }
    .loading-icon::after {
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      position: static;
    }
  }
}

.is-disabled {
  opacity: 0.30;
}

.b-checkbox.checkbox:hover input[type="checkbox"]:not(:disabled) + .check.is-primary:hover {
  border-color: $primary;
}
.b-checkbox.checkbox input[type="checkbox"]:checked + .check.is-primary {
  border-color: $primary;
  background-color: $primary;
}

.has-text-primary {
  color: $primary !important;
}

.box {
  background: $white;
  box-shadow: 2px 2px 0 #f3f3f3;
  border: 1px solid #e6e6e6;
}
  .box hr {
    background-color: #efefef;
  }

.navbar-item.user {
  .navbar-link:not(.is-arrowless)::after {
    margin-top: -0.6rem;
  }

  .user-name {
    display: block;
    min-width: 150px;
  }
}

.user-avatar {
  img {
    display: inline-block;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    max-height: none;
  }
  span {
    background-color: #ddd;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    text-align: center;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.copy-text {
  color: inherit;
  .icon {
    visibility: hidden;
  }

  &:hover {
    color: $primary;
    .icon {
      visibility: visible;
    }
  }
}

.spaced-links a {
  margin-right: 15px;
  display: inline-block;
}

/* Two column sidebar+body layout */
#app {
  min-height: 100%;
  .wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-top: 0px;
  }

  .sidebar {
    flex-shrink: 1;
    box-shadow: 0 0 3px $grey-lighter;
    background: $white;
  }

  .main {
    background: $white;
    margin-left: 15px;
    padding: 30px;
    flex-grow: 1;
    position: relative;
  }
}

.navbar {
  box-shadow: 0 0 3px $grey-lighter;
}
.navbar-brand {
  padding: 0 0 0 25px;
  .favicon {
    display: none;
  }
  .full {
    max-height: 17px;
    margin-top: 15px;
  }
  .favicon {
    margin-top: 12px;
    max-height: 24px;
  }
}

.b-sidebar {
  position: sticky;
  top: 75px;

  .sidebar-content {
    background: transparent;
  }
  .menu-list {
    .router-link-exact-active {
      border-right: 5px solid $primary;
      outline: 0 none;
    }
    li ul {
      margin-right: 0;
    }
    > li {
      margin-bottom: 10px;
      a {
        padding-left: 25px;
      }
    }
    a {
      border-radius: 0;
    }
  }
}

/* Fix for sidebar jumping on modals */
body.is-noscroll {
  position: static;
  overflow-y: visible;
  width: auto;
}

/* Global notices */
.global-notices {
  margin-bottom: 30px;
}
.notification {
  padding: 10px 15px;
  border-left: 10px solid #eee;

  &.is-danger {
    background: $white-ter;
    color: $black;
    border-left-color: $red;
  }
  &.is-success {
    background: $white-ter;
    color: $black;
    border-left-color: $green;
  }
  &.is-info {
    background: $white-ter;
    border-left-color: $primary;
    color: $grey-dark;
  }
}

/* WYSIWYG / HTML code editor */
.plain-editor textarea, .code-editor {
  position: relative;
  width: 100%;
  min-height: 250px;
  height: 65vh;
  border: 1px solid $grey-lighter;
  border-radius: 2px;

  .cm-editor {
    height: 100%;
  }
}

.code-editor {
  .cm-lineNumbers .cm-gutterElement{
    color: #aaa;
    font-size: 0.875rem;
    padding-right: 10px;
  }
  .cm-gutters {
    margin-right: 10px;
  }
}

.alt-body textarea {
  height: 30vh;
}

.editor {
  margin-bottom: 30px;

  .copy-visual-template-list {
    select {
      min-width: 200px;
    }
  }
}

.richtext-editor {
  .tox-tinymce {
    height: 100%;
    box-shadow: 2px 2px 0 #f3f3f3;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    .tox-toolbar__primary {
      border-color: #e6e6e6 !important;
    }
  }
  .tox-statusbar__branding {
    display: none;
  }
  .tox .tox-statusbar {
    border: 0;
  }

  .tox-tinymce--toolbar-sticky-on .tox-editor-header {
    padding-top: 48px !important;
  }
}

.tox.tox-silver-sink {
  z-index: 850;

  .tox-dialog-wrap {
    z-index: 900;
  }
  .tox-dialog {
    @extend .box;
  }

  .tox-track-link {
    display: block;
    cursor: pointer;

    margin: 5px 0 10px 0;
    input {
      margin-right: 5px;
    }
  }

  .tox-button {
    border-radius: 4px;
  }
  .tox-button:not(.tox-button--secondary):not(.tox-button--naked) {
    background: $primary;
  }

  .tox-textfield {
    box-shadow: 2px 2px 0 $white-ter;
    border: 1px solid $grey-lighter;
  }

  .tox-textfield__control {
    border-radius: 4px;
  }
}

.tox, .tox-tinymce, .tox-tinymce-aux, .tox .tox-button, .tox .tox-button-link, .tox .tox-dialog__title,
  .tox .tox-textfield,
  .tox .tox-toolbar-textfield,
  .tox .tox-listboxfield .tox-listbox--select,
  .tox .tox-textarea,
  .tox .tox-selectfield select {
    /* All TinyMCE components */
    font-family: $body-family !important;
}
